<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.easymail.easymail.mapper.MissionMapper">
    <cache />

    <resultMap id="MissionMap" type="Mission">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" property="name" />
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="recv_date" property="recvDate"/>
    </resultMap>



    <insert id="insertMission"  useGeneratedKeys="true" keyProperty="id">
        INSERT INTO mission
        (name,title,content,recv_date,account_id)
        VALUES
            (#{mission.name},#{mission.title},#{mission.content},#{mission.recvDate},#{accountId})
    </insert>
    
    <delete id="deleteMissionByTitle">
        DELETE FROM mission WHERE title = #{title} and account_id = #{accountId}
    </delete>

    <select id="getAllMissionTitles" resultType="java.lang.String">
        SELECT DISTINCT title FROM mission WHERE account_id = #{accountId};
    </select>

    <insert id="insertMissions" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO mission
        (name,title,content,recv_date,account_id)
        VALUES
        <foreach collection="missions" item="item" index="index" separator=",">
            (#{item.name},#{item.title},#{item.content},#{item.recvDate},#{accountId})
        </foreach>
    </insert>


    <select id="getMissionsByTitle" resultMap="MissionMap">
        SELECT * FROM mission WHERE title = #{title} AND account_id = #{accountId};
    </select>

    <select id="getMissionByTitleAndName" resultMap="MissionMap">
        SELECT * FROM mission WHERE title = #{title} AND name = #{name} AND account_id = #{accountId} LIMIT 1;
    </select>

    <delete id="deleteMissionByTitleAndName">
        DELETE FROM mission WHERE title = #{title} AND name = #{name} AND account_id = #{accountId};
    </delete>

</mapper>